body {
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4)),
    linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    padding: 0px;
    border-radius: 1px;
    border: 1px solid black;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 1400px;
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-rows: 4% 5% 1fr; /* Three rows: one for each upper block and one for the rest */
    grid-template-columns: 10% 70% 20%; /* Three columns: left, main and right */
}

.upper-block-first {
    grid-column: 1 / span 3; /* Let this block occupy all columns */
    background: #1e1e1e;
}

.upper-block-second {
    grid-column: 1 / span 3; /* Let this block occupy all columns */
    background: #323232;
}

.left-side-block {
    background: #dfbd33;
    grid-row: 3; /* Specify row */
    grid-column: 1; /* Specify column */
}

.main-content-block {
    position: relative; /* Add this line */
    background: rgb(250, 250, 250);
    grid-row: 3; /* Specify row */
    grid-column: 2; /* Specify column */
}

.right-side-block {
    background: greenyellow;
    grid-row: 3; /* Specify row */
    grid-column: 3; /* Specify column */
}

.ruler-container {
    position: absolute; /* Changed from flex to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav ul {
    display: block; /* Изменено с flex на block */
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0; /* Убраны маргины */
    padding: 10px 0; /* Добавлен padding для отступов между элементами списка */
    text-align: center; /* Выравнивание текста по центру */
}

.main-content {
    position: relative;
    width: calc(100% - 20px); /* Reduce the width by the width of the vertical ruler */
    height: 100%;
    padding-left: 40px;  /* добавим отступ слева */
    padding-top: 20px;
}

.horizontal-ruler {
    position: absolute; /* Changed from relative to absolute */
    top: 0;
    left: 0;
    width: 100%; /* Updated width */
    background: white;
    border-radius: 1px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #787878;
    z-index: 10; /* If needed to put it above other content */
}

.horizontal-ruler::before {
    content: "";
    position: absolute;
    left: 15%;  /* начинаем от 15% слева */
    right: 15%; /* оставляем 15% справа */
    top: 0;
    bottom: 0;
    background: #c1faf3;
    border-radius: 5px;  /* закругляем углы */
}

.vertical-ruler {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: white;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 0;
    flex-shrink: 0;
    border: 1px solid #646464;
}

.vertical-ruler::before {
    content: "";
    position: absolute;
    top: 30%;  /* начинаем от 15% сверху */
    bottom: 5%; /* оставляем 15% снизу */
    left: 0;
    right: 0;
    background: #c1faf3;
    border-radius: 5px;  /* закругляем углы */
}

.vertical-ruler .mark {
    position: relative;
    width: 1px;
    height: 5px;
    background: #646464;
    align-self: flex-end;
    transform: rotate(90deg) translateY(-50%);
}

.vertical-ruler .mark:after {
    content: attr(data-num);
    position: absolute;
    white-space: nowrap;
    right: 100%;
    top: 120%;
    transform: rotate(180deg) translateX(20%);
    transform-origin: right center;
    font-size: 10px;
    margin-right: 5px;
    color: #c7c1c1;
}

/* Маркеры для горизонтальной линейки */
.horizontal-ruler .mark {
    position: relative;
    width: 1px;  /* уменьшаем ширину маркера */
    background: #646464;
    height: 20%; /* уменьшаем высоту маркера */
    align-self: flex-end;  /* размещаем маркер в нижней части линейки */
}

.horizontal-ruler .mark:after {
    content: attr(data-num);
    position: absolute;
    bottom: 100%;  /* размещаем текст под маркером */
    white-space: nowrap;
    transform: translateX(-50%);  /* центрируем текст по горизонтали */
    font-size: 10px;  /* уменьшаем размер шрифта */
    color: #c7c1c1;
}