body {
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4)),
    linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    padding: 0;
    border-radius: 1px;
    border: 1px solid black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 1400px;
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-rows: 4% 5% 1fr; /* Three rows: one for each upper block and one for the rest */
    grid-template-columns: 15% 70% 15%; /* Three columns: left, main and right */
}

.upper-block-first {
    display: grid;
    grid-template-columns: 3% 8% 8% 8% 8% 8% 8% 8% 8% 8% 1fr; /* 9 equal columns */
    grid-column: span 3; /* This makes it span all 3 columns */
}

.sub-block {
    background-color: #1e1e1e; /* just for visual representation */
    border-left: 1px solid #282828; /* just for visual representation */
    border-right: 1px solid #282828; /* just for visual representation */
    font-family: "Open Sans", serif;
    font-size: 12px;
    display: flex; /* Добавить */
    justify-content: center; /* Добавить */
    align-items: center;
    color: #646464;
}
.sub-block:hover {
    color: white;
    background: #323232;
}

.active {
    color: white;
    background: #323232;
}

.sub-block-logo {
    background-color: #1e1e1e;
    /* другие стили, специфичные для этого блока */
}

.logo-image {
    display: block;
    width: 85%;
    height: 90%;
    object-fit: contain;
}

.upper-block-second {
    grid-column: 1 / span 3; /* Let this block occupy all columns */
    background: #323232;
}

.left-side-block {
    background: #ffffff;
    grid-row: 3; /* Specify row */
    grid-column: 1; /* Specify column */
}

.main-content-block {
    position: relative; /* Add this line */
    background: rgb(250, 250, 250);
    grid-row: 3; /* Specify row */
    grid-column: 2; /* Specify column */
}

.right-side-block {
    background: #ffffff;
    grid-row: 3; /* Specify row */
    grid-column: 3; /* Specify column */
    border-left: 1px solid #b4b4b4; /* Add border */
}

.ruler-container {
    position: absolute; /* Changed from flex to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav ul {
    display: block; /* Изменено с flex на block */
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

nav ul li {
    margin: 0; /* Убраны отступы */
    padding: 10px 0; /* Добавлен padding для отступов между элементами списка */
    text-align: left; /* Выравнивание текста по центру */
}

.navigation {
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent; /* Add transparent border */
}

.navigation:hover {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.navigation:hover a {
    color: #888; /* Moved hover effect to li from a */
}

nav ul li a {
    color: #000; /* Задаем цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}

nav ul li a::before {
    content: ''; /* Задаем пустое содержимое */
    display: inline-block;
    width: 15px; /* Задаем ширину */
    height: 15px; /* Задаем высоту */
    background-image: url('../IMG/hashtag_icon_213718.svg'); /* Замените 'image.jpg' на путь к вашему изображению */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    background-size: contain; /* Изображение будет масштабироваться, чтобы поместиться в элемент */
    margin-right: 10px; /* Отступ справа от изображения до текста */
    margin-left: 10px;
    vertical-align: middle; /* Добавлено выравнивание по вертикали */
}

.main-content {
    position: relative;
    font-family: "Open Sans", serif;
    text-align: center;
    width: calc(100% - 20px); /* Reduce the width by the width of the vertical ruler */
    height: 100%;
    padding-left: 40px; /* добавим отступ слева */
    padding-top: 20px;
}

.horizontal-ruler {
    position: absolute; /* Changed from relative to absolute */
    top: 0;
    left: 0;
    width: 100%; /* Updated width */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 12px;
    border-left: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    z-index: 10; /* If needed to put it above other content */
}

.horizontal-ruler::before {
    content: "";
    position: absolute;
    left: 15%; /* начинаем от 15% слева */
    right: 15%; /* оставляем 15% справа */
    top: 0;
    bottom: 0;
    background: #e5f4ff;
    border-radius: 5px; /* закругляем углы */
}

/* Маркеры для горизонтальной линейки */
.horizontal-ruler .mark {
    position: relative;
    width: 1px; /* уменьшаем ширину маркера */
    background: #646464;
    height: 20%; /* уменьшаем высоту маркера */
    align-self: flex-end; /* размещаем маркер в нижней части линейки */
}

.horizontal-ruler .mark:after {
    content: attr(data-num);
    position: absolute;
    bottom: 100%; /* размещаем текст под маркером */
    white-space: nowrap;
    transform: translateX(-50%); /* центрируем текст по горизонтали */
    font-family: "Open Sans", serif;
    font-size: 10px; /* уменьшаем размер шрифта */
    color: #c7c1c1;
}

.vertical-ruler {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: white;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 0;
    flex-shrink: 0;
    border: 1px solid #b4b4b4;
}

.vertical-ruler::before {
    content: "";
    position: absolute;
    top: 30%; /* начинаем от 15% сверху */
    bottom: 5%; /* оставляем 15% снизу */
    left: 0;
    right: 0;
    background: #e5f4ff;
    border-radius: 5px; /* закругляем углы */
}

.vertical-ruler .mark {
    position: relative;
    width: 1px;
    height: 5px;
    background: #646464;
    align-self: flex-end;
    transform: rotate(90deg) translateY(-50%);
}

.vertical-ruler .mark:after {
    content: attr(data-num);
    position: absolute;
    white-space: nowrap;
    right: 100%;
    top: 120%;
    transform: rotate(180deg) translateX(20%);
    transform-origin: right center;
    font-size: 10px;
    font-family: "Open Sans", serif;
    margin-right: 5px;
    color: #c7c1c1;
}